@font-face {
  font-family: 'FreshMango';
  src: url('../fonts/FreshMango-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: 'Open Sans', sans-serif;
}
